<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
.github/workflows/maven.yml
nội dung trong file:

name: Java CI with Maven
on: [push]
jobs:
build:
runs-on: ubuntu-latest
steps:
- uses: actions/checkout@v3
- name: Set up JDK 17
uses: actions/setup-java@v3
with:
java-version: '17'
distribution: 'temurin'
- name: Build and Test
run: mvn test


B1:
mvn clean test
# Khởi tạo git
git init

# Thêm tất cả file vào hàng chờ (đảm bảo đã có file .gitignore)
git add .

# Tạo bản commit đầu tiên
git commit -m "Finish project Duc"

# Đổi tên nhánh chính thành main (chuẩn GitHub)
git branch -M main

# Thêm địa chỉ repo từ xa
git remote add origin https://github.com/Huyducbg12/SOF3041_KiemThuNangCao.git

# Đẩy code lên GitHub
git push -u origin main


nội dung trong file

</body>
</html>